{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<!--main container-->
  <div id="main_container" class="main_container">
  <!--header wrapper Start Here-->
  <header class="header_wrapper">
    <div class="header_top">
        <div class="container">
            <div class="row">
                <div class="pull-left">
                  {% if contact_number|render is not empty %}
                    <a href="tel:{{ contact_number }}" class="top_menu"><i class="fa fa-phone"></i> Contact With us - {{ contact_number }}</a>
                  {% endif %}
                  {% if mail|render is not empty %}  
                    <a href="mailto:{{ mail }}" class="top_menu"><i class="fa fa-inbox"></i> Email - {{ mail }}</a>
                  {% endif %}  
                </div>
                <div class="pull-right">
                    {% if facebook_url|render is not empty %}
                      <a href="{{ facebook_url }}"><i class="fa fa-facebook"></i></a>
                    {% endif %}
                    {% if twitter_url|render is not empty %}
                      <a href="{{ twitter_url }}"><i class="fa fa-twitter"></i></a>
                    {% endif %}
                    {% if linkedin_url|render is not empty %}
                      <a href="{{ linkedin_url }}"><i class="fa fa-linkedin"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--Navigation  Start Here-->
      <div id="menu">
        <div class="container">
          <div class="row">
            <div class="pull-left logo">{{ page.site_branding }}</div>
              <div class="pull-right">
                {{ page.primary_menu }}
              </div> 
            </div> 
          </div>  
      </div>
    <!--Navigation  End Here-->
           
   <!--Page heading Start Here--> 
    <section class="page_heading" style="background-image:url({{ bg_image_url }});">
      <div class="overly_bg">
          <div class="container">
              <div class="row">
                  <h2 class="heading_title">{{ page['#title'] }}</h2>
                </div>
            </div>
        </div>
    </section>
  <!--Page heading End Here-->
      
  </header>
  <!--header wrapper End Here-->   
  
  {%  set base_url = url('<front>')  %}
  <section id="not-found-section" class="text-center">
    <div class="container">               
      <div class="row"> 
        <div class="not-found-body" >
          <div class="not-title" >
            <h1>404</h1>
            <h2>Page Not Found</h2> 
          </div>  
            <h2>Sorry. We can't find a page.</h2>
            <p>The Page you are looking for might have a removed, had its name changed, or its temporarily unavailable.</p>      
            <a href="{{ base_url }}" class="btn btn-custom"> Go Home </a>      
        </div>
      </div>          
    </div>    
  </section>

             
    <!-- Footer Wrapper Start Here-->  
     <footer class="footer_wrapper">
        <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-4">
                <h2>
                {% if about_us_title|render is not empty %}{{ about_us_title }}{% endif %}
                </h2>
                  <p>{% if about_desc|render is not empty %}{{ about_desc }}{% endif %}</p>
              </div>
              
              <div class="col-md-4 col-sm-4">
                <h2>{% if title|render is not empty %}{{ title }}{% endif %}</h2>
                  <p>{% if info_desc|render is not empty %}{{ info_desc }}{% endif %}</p>
                  <p>
                    {% if contact_number|render is not empty %}
                    <a href="tel:{{ contact_number }}"><span>Tel:  </span>{{ contact_number }}</a>
                    {% endif %}<br>
                    {% if mail|render is not empty %}
                      <a href="mailto:{{ mail }}"><span> Email:  </span>{{ mail }}</a>
                    {% endif %}<br>
                    {% if working_hours|render is not empty %}
                      <span> Working Hours: </span> {{ working_hours }}
                    {% endif %}  
                  </p>
              </div>

              <div class="col-md-4 col-sm-4">
                <h2>
                {% if social_title|render is not empty %}{{ social_title }}{% endif %}
                </h2>
                  <ul class="social-icons">
                    {% if twitter_url|render is not empty %}
                      <li><a href="{{ twitter_url }}"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if facebook_url|render is not empty %}
                      <li><a href="{{ facebook_url }}"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if linkedin_url|render is not empty %}
                      <li><a href="{{ linkedin_url }}"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if youtube_url|render is not empty %}
                      <li><a href="{{ youtube_url }}"><i class="fa fa-youtube"></i></a></li>
                    {% endif %}
                    {% if google_plus_url|render is not empty %}
                      <li><a href="{{ google_plus_url }}"><i class="fa fa-google-plus"></i></a></li>
                    {% endif %}
                  </ul>
              </div>
              
              
          </div>
        </div>
    </footer>
              
    <div class="footer_bottom">
      <div class="container">
        <p class="color-gray">&copy; 2018. <a href="#">YG Construction Lite</a> All Rights Reserved. <br> Design by <a href="https://www.navthemes.com/free-html-templates/" target="_blank">NavThemes</a> Theme By <a href="https://www.drupaldeveloperstudio.com" target="_blank">Drupal Developers Studio</a>. A Division of <a href="www.youngglobes.com" target="_blank">Young Globes</a>
        <a class="cd-top" href="#0"><img src="assets/img/top_img.jpg"></a></p> 
        </div>  
    </div>
  <!-- Footer Wrapper End Here-->  
              
              
  </div>           
  <!--main container end-->
 
  
   <!--PRE LOADER HERE-->
  <div id="pre-loader">
      <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
  </div> 
  
    