<!-- team items -->
	<div class="col-md-6 col-sm-6">
		<img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="{{ content.field_image['#items'].alt }}" title="{{ content.field_image['#items'].title }}">
	    <div class="team_heading">
	     	<div class="pull-left"><h3>{{ content.field_title.0 }}</h3></div>
	        <div class="pull-right"><span>Company Manager</span></div>
	        <div class="clearfix"></div>
	    </div>
	    <div style="height:25px;"></div>
	    {{ content.field_body.0 }}
	</div>
<!-- team items end -->