{#
/**
 * @file
 * Bartik's theme implementation for comments.
 *
 * Available variables:
 * - author: Comment author. Can be a link or plain text.
 * - content: The content-related items for the comment display. Use
 *   {{ content }} to print them all, or print a subset such as
 *   {{ content.field_example }}. Use the following code to temporarily suppress
 *   the printing of a given child element:
 *   @code
 *   {{ content|without('field_example') }}
 *   @endcode
 * - created: Formatted date and time for when the comment was created.
 *   Preprocess functions can reformat it by calling format_date() with the
 *   desired parameters on the 'comment.created' variable.
 * - changed: Formatted date and time for when the comment was last changed.
 *   Preprocess functions can reformat it by calling format_date() with the
 *   desired parameters on the 'comment.changed' variable.
 * - permalink: Comment permalink.
 * - submitted: Submission information created from author and created
 *   during template_preprocess_comment().
 * - user_picture: The comment author's profile picture.
 * - status: Comment status. Possible values are:
 *   unpublished, published, or preview.
 * - title: Comment title, linked to the comment.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class may contain one or more of the following classes:
 *   - comment: The current template type; e.g., 'theming hook'.
 *   - by-anonymous: Comment by an unregistered user.
 *   - by-{entity-type}-author: Comment by the author of the parent entity,
 *     eg. by-node-author.
 *   - preview: When previewing a new or edited comment.
 *   The following applies only to viewers who are registered users:
 *   - unpublished: An unpublished comment visible only to administrators.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: List of classes for the styling of the comment content.
 * - threaded: A flag indicating whether the comments are threaded or not.
 *
 * These variables are provided to give context about the parent comment (if
 * any):
 * - comment_parent: Full parent comment entity (if any).
 * - parent_author: Equivalent to author for the parent comment.
 * - parent_created: Equivalent to created for the parent comment.
 * - parent_changed: Equivalent to changed for the parent comment.
 * - parent_title: Equivalent to title for the parent comment.
 * - parent_permalink: Equivalent to permalink for the parent comment.
 * - parent: A text string of parent comment submission information created from
 *   'parent_author' and 'parent_created' during template_preprocess_comment().
 *   This information is presented to help screen readers follow lengthy
 *   discussion threads. You can hide this from sighted users using the class
 *   visually-hidden.
 *
 * These two variables are provided for context:
 * - comment: Full comment object.
 * - entity: Entity the comments are attached to.
 *
 * @see template_preprocess_comment()
 */
#}

 {%
  set classes = [
    'comment',
    'js-comment',
    status != 'published' ? 'comment--' ~ status,
    comment.owner.anonymous ? 'by-anonymous',
    author_id and author_id == commented_entity.getOwnerId() ? 'by-' ~ commented_entity.getEntityTypeId() ~ '-author',
    'clearfix',
  ]
%}

{% set createdDate = node.getCreatedTime|date('j M Y g:i A') %}
{% if parent %}
    <div class="comment_block col-md-offset-1">
        <div class="col-md-10 col-sm-10">
          <div class=" col-md-2 col-sm-2">
            {% if user_picture['#user'].user_picture.entity.uri.0.value != "" %}
            <a href="/user/{{ user_picture['#user'].uid.0.value }}">
               <img src="{{ file_url(user_picture['#user'].user_picture.entity.uri.0.value) }}" />
            </a>
            {% else %}
              <img src="/themes/yg_construction_lite/assets/img/comment_img.jpg" alt="Author Image">
            {% endif %}
          </div>
            <div class="col-md-10 col-sm-10 no-padding">
                <h3>{{ author|render|striptags }}</h3>
                <span>{{ createdDate }}</span>
                  <div {{ content_attributes.addClass('comment__content') }} >
                    {{ content|without('links') }}
                  </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2"><a href="#" class="readmore">
          {% if content.links %}
            <nav>{{ content.links }}</nav>
          {% endif %}
        </a></div>
       <div class="clearfix"></div>
    </div>

{% else %}
      <div class="comment_block">
        <div class="col-md-10 col-sm-10">
          <div class=" col-md-2 col-sm-2">
            {% if user_picture['#user'].user_picture.entity.uri.0.value != "" %}
            <a href="/user/{{ user_picture['#user'].uid.0.value }}">
               <img src="{{ file_url(user_picture['#user'].user_picture.entity.uri.0.value) }}" />
            </a>
            {% else %}
              <img src="/themes/yg_construction_lite/assets/img/comment_img.jpg" alt="Author Image">
            {% endif %}
          </div>
            <div class="col-md-10 col-sm-10 no-padding">
                <h3>{{ author|render|striptags }}</h3>
                <span>{{ createdDate }}</span>
                  <div {{ content_attributes.addClass('comment__content') }} >
                    {{ content|without('links') }}
                  </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2"><a href="#" class="readmore">
          {% if content.links %}
            <nav>{{ content.links }}</nav>
          {% endif %}
        </a></div>
       <div class="clearfix"></div>
    </div>
{% endif %}
  